<form name="signupform" style="padding: 20px;">
    
    <div style="text-align: center; margin-bottom: 10px;">SIGNUP FORM</div> 
    <input type="text" name="username" id="username" placeholder="enter your username">
    <input type="password" name="password" id="password" placeholder="enter your password" >
    <input type="email" name="email" id="email" placeholder="enter your email ID">
    <input type="number" name="mobile" id="mobile" placeholder="enter your mobile">
    <input type="submit" value="signup" routerLink="/collegelist" >
    <div style="text-align: center; margin-bottom: 10px;"> OR SIGNIN A ACCOUNT </div>
    <input type="submit" value="signin" routerLink="/collegelist">
</form>

